.main-global {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-control.MuiFormControl-root {
  display: flex;
}

.main-top__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1600px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.main-top-inputs {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 24px;

  &.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 30px;

    & > .main-top-inputs__label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;

      p {
        margin-right: 10px;
      }
    }
  }
}

.main-top-inputs__label {
  margin-right: 12px;

  &:last-child {
    margin-right: 24px;
  }

  p {
    margin-bottom: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

.main-top-inputs-fields {
  max-width: 188px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  input {
    min-height: 45px;
    padding: 0 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }

  &.active {
    width: 238px;
  }

  &.doctor-list {
    min-width: 188px;
    max-height: 47px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    border: none;
  }
}

.main-top-btns {
  button {
    min-height: 45px;
    padding: 0 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #000;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.main-content {
  max-width: 1600px;
  padding-top: 37px;
  margin: 0 auto;
}

.main-content-sort__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 28px;
}

.main-content-sort-input {
  display: flex;
  align-items: center;

  .main-content-sort-input-fields {
    max-height: 47px;
    margin: 0 24px 0 18px;
    border: none;
  }

  input {
    min-height: 45px;
    padding: 0 15px;
    border-radius: 4px;
  }

  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

.main-content-sort-date-sort {
  display: flex;
  align-items: center;
  margin-right: 28px;

  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

.main-content-sort-input {
  .MuiOutlinedInput-root {
    min-width: 200px;
  }
}

.main-content-sort-input-fields {
  margin-left: 18px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  input {
    min-height: 45px;
    padding: 0 15px;
  }
}

.main-content-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow-x: auto;
}

.main-content-table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 47px;
  background: #c4c4c4;

  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

.main-content-table__column {
  display: flex;
  align-items: center;
  justify-content: center;

  &.in-row {
    align-items: flex-start;
    padding-top: 6px;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.main-content-table__name {
  width: 25%;

  &.in-row {
    border-right: 1px solid black;
  }
}

.main-content-table__doctor {
  width: 25.3%;

  &.in-row {
    border-right: 1px solid black;
  }
}

.main-content-table__date {
  width: 17%;

  &.in-row {
    border-right: 1px solid black;
  }
}

.main-content-table__complaints {
  width: 21.4%;

  &.in-row {
    border-right: 1px solid black;

    span {
      padding: 0 25px;
    }
  }
}

.main-content-table__plug {
  width: 11%;

  &.in-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
      width: 14px;
      min-width: 14px;
      height: 14px;
      padding: 0;
      margin: 10px;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}

.main-content-table-body {
  width: 100%;
  border: 1px solid black;
}

.main-content-table-row {
  display: flex;
  flex-direction: row;
  background: #fff;
}

.main-content-table-row {
  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

.main-top-inputs-btn {
  button {
    min-height: 45px;
    padding: 0 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: #000;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.main-top-inputs-btns {
  display: flex;
  align-content: center;
  justify-content: center;
}

.main-top-inputs-btn-deactivate {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 43px;

  button {
    width: 23px;
    height: 30px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .main-top__wrapper {
    width: 90%;
  }

  .main-content-sort__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-content-sort-input {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .main-top-inputs__label {
    p {
      font-size: 14px;
    }
  }

  .main-content-sort-date-sort {
    margin-right: 0;

    span {
      font-size: 14px;
    }
  }

  .main-content-sort-input {
    span {
      font-size: 14px;
    }
  }

  .main-content-table-row,
  .main-content-table-header {
    span {
      font-size: 14px;
    }
  }
}

@media (max-width: 900px) {
  .main-top-inputs.active {
    flex-direction: column;
  }

  .main-top-inputs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-top-inputs__label__margin.main-top-inputs__label {
    margin-left: 10px;
  }
}

@media (max-width: 970px) {
  .main-top__wrapper {
    width: 500px;

    .main-top-btns {
      button {
        margin-right: 0;
      }
    }
  }

  .main-top-inputs__label {
    margin-bottom: 15px;
  }

  .main-top-inputs__label:last-child {
    margin-right: 12px;
  }

  .main-top-btns {
    margin: 0 auto;
  }

  .main-top-inputs-fields {
    width: 300px;
  }

  .main-content-table-header,
  .main-content-table-body {
    min-width: 700px;
  }
}

@media (min-width: 1600px) {
  .main-top-inputs-fields {
    width: 250px;
    max-width: 250px;
  }
}

@media (max-width: 1600px) {
  .main-top__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-top-inputs {
    margin-bottom: 15px;
  }

  .main-top-btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      margin-right: 10%;
    }
  }
}
